<%= render "dashboard/sidebar" %>

<div class="container d-flex flex-column min-vh-100">
  <%# New Event and Calender %>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="card new-event-card p-3 d-flex align-items-center">
        <div class="card event d-flex justify-content-center align-items-center">
          <h2 class="mt-3">Add Event</h2>
          <div class="card-body d-flex flex-row align-items-center justify-content-center">
            <!-- Button to trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#eventModal">
              <i class="fa-solid fa-plus add-event-icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="calendar-card">
        <!-- Calendar View -->
        <%= render 'month_calendar' %>
      </div>
    </div>
  </div>
  <%# End New Event and Calender %>

  <%# Current Events %>
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card upcoming-card p-3 d-flex flex-row align-items-center justify-content-between">
        <div>
          <h2>Upcoming Events <%= "from #{@date}" if @date %></h2>
        </div>

        <% if @events.any? %>
          <% @events.each do |event| %>
            <%= link_to event_path(event), class: "text-decoration-none" do %>
            <div class="card event" >
              <div class="date-header d-flex align-items-center justify-content-center">
                <h3 class="pt-1"><%= event.date %></h3>
              </div>
              <div class="card-body d-flex flex-row align-items-center justify-content-center">
                <h3><%= event.title %></h3>
              </div>
            </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="empty-row">
            <h3>No events</h3>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <%# End Current Events %>

  <%# Current Tasks %>
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card my-tasks-card p-3 d-flex flex-row align-items-center justify-content-between">
        <div>
          <h2>Current Tasks</h2>
        </div>

        <% if @tasks.any? %>
          <% @tasks.each do |task| %>
            <div class="card event d-flex flex-row align-items-center justify-content-center">
              <h3><%= task.title %></h3>
            </div>
          <% end %>
        <% else %>
          <div class="empty-row">
            <h3>No tasks</h3>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <%# End Current Tasks %>

  <!-- Modal for Creating Event -->
  <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">Create New Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'events/create_event', event: @event %>  <!-- Include your form partial here -->
        </div>
      </div>
    </div>
  </div>
</div>
