<%# <div class="side-menu">
  Hello
</div> %>


<div class="d-flex flex-column h-100">
  <%# New Event and Calender %>
  <div class="row my-3">
    <div class="col-md-3"></div>
    <div class="col-md-3 card d-flex p-4" id="event-section">

      <% if @upcoming_events.any? %>
        <div class="dates">

        </div>
        <div class="d-flex h-100 align-items-stretch">
          <div class="dates-list me-3">
            <% @upcoming_events.each do |event| %>
              <div class="date text-end">
                <%= event.date.strftime("%b %d") %>
              </div>
            <% end %>
          </div>
          <div class="event-list ms-auto">
            <div>
              <%= link_to new_event_path, class: "add-event text-white" do %>
                <i class="fa-solid fa-plus"></i>
                  New Event
              <% end %>
            </div>

              <% @upcoming_events.each do |event| %>
                <%= link_to event_path(event), class: "text-decoration-none" do %>
                  <div class="event-card text-start">
                    <%= event.title %>
                    <div class="duration">
                      Minutes: <%= event.duration %>
                    </div>
                  </div>
                  <% end %>
              <% end %>
          </div>
        </div>

        <% else %>
          <h3>
            You have no events. Get started by creating one!
          </h3>
        <% end %>

    </div>

    <div class="col-md-3">
      <div class="calendar-card">
        <!-- Calendar View -->
        <%= render 'month_calendar' %>
      </div>
    </div>
  </div>

  <!-- Modal for Creating Event -->
  <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">Create New Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'events/create_event', event: @event %>  <!-- Include your form partial here -->
        </div>
      </div>
    </div>
  </div>
</div>
