


<div class="container d-flex flex-column h-100">
  <div class="row mt-5 justify-content-center">
    <div class="col-md-6 card my-2" id="task-section">
      <div class="d-flex overflow-x-auto">
        <% if @tasks.any? %>
          <% @tasks.each do |task| %>
            <%= link_to event_path(task.event), class: "text-decoration-none" do %>
              <div class="task-info text-start mx-3 mb-3 flex-shrink-0">
                <strong>
                  <%= task.title.capitalize %>
                </strong>
                <div>
                  Event: <%= task.event.title %>
                </div>
                <div>
                  Date: <%= task.event.date %>
                </div>
                <div>
                  Status: <%= task.completed ? "Completed" : "Not Completed" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%# New Event and Calender %>
  <div class="row my-3 justify-content-center">

    <div class="col-md-6 ms-2">
      <div class="table-responsive">
        <!-- Calendar View -->
        <%= render 'month_calendar' %>
      </div>
    </div>
  </div>


  <!-- Modal for Creating Event -->
  <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">Create New Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'events/create_event', event: @event, url: events_path, method: :post %>  <!-- Include your form partial here -->
        </div>
      </div>
    </div>
  </div>

  <!-- Fluff modal -->
  <div class="modal fade" id="fluffEventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">Create New Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'events/create_event', event: @event, url: preview_event_path, method: :get %>  <!-- Include your form partial here -->
        </div>
      </div>
    </div>
  </div>
</div>
