<div class="d-none" data-assign-tasks-target = "form">
  <%= simple_form_for task, url: task_path(task), method: :patch do |f| %>
  <%= f.input :user_id,
    collection: organization_users.map { |user| ["#{user.first_name} #{user.last_name}", user.id] },
    input_html: {value: user} %>
  <%= f.input :completed, collection:["Completed","Not completed"],
  input_html: {value:task.completed} %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-gradient-oval" %>
  <% end %>
</div>
