
<% if @event.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Oops! Something went wrong:</h4>
    <ul class="mb-0">
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for @event, url: events_path, method: :post do |f| %>
  <div class="mb-4">
    <%= f.input :title, label: "Event Title", input_html: { class: "form-control", placeholder: "Enter event name..." } %>
  </div>

  <!-- Left Column: Calendar -->
  <div class="row">
    <!-- Date Input with Stimulus target -->
    <div class="mb-4" data-controller="datepicker">
      <%= f.label :date, "Event Date", class: "form-label" %>
      <%= f.text_field :date, class: "form-control", data: { controller: "datepicker", datepicker_target: "input", action: "change->datepicker#onDateChange" }, autocomplete: "off" %>
    </div>



    <!-- Right Column: Duration -->
    <div class="col-md-6">
      <%= f.input :duration, label: "Event Duration (in minutes)", input_html: { class: "form-control", placeholder: "e.g. 60" } %>
    </div>
  </div>

  <!-- Age Group & Number of Activities in a Row -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.input :age_range, collection: ['Kindergarten', 'Elementary', 'High School', 'University', 'Corporate'], label: 'Participants Age Group', input_html: { class: "form-select" } %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.input :num_activities, label: "Number of Activities", input_html: { class: "form-control", placeholder: "e.g. 3" } %>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="d-grid">
    <%= f.button :submit, "Create Event", class: "btn btn-primary btn-lg fw-bold" %>
  </div>
<% end %>
