<%# <div class="d-none" data-assign-tasks-target = "form"> %>

<div class="modal fade" id="taskEditModal-<%= task.id %>" tabindex="-1" aria-labelledby="taskEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskEditModalLabel-<%= task.id %>">Edit task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">

          <%= simple_form_for task, url: event_task_path(@event, task), method: :patch do |f| %>
          <%= f.input :user_id,
            collection: @users.map { |user| ["#{user.first_name} #{user.last_name}", user.id] } %>
          <%= f.input :completed, collection: ["Completed", "Not completed"]%>
          <%= f.button :submit, class: "btn btn-gradient-oval" %>
          <% end %>
        </div>

        </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
