<%# <div data-controller="assign-tasks"> %>

  <div class="modal fade" id="aiSuggestModal" tabindex="-1" aria-labelledby="aiSuggestLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="aiSuggestLabel">Here're AI Suggestion Tasks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
          <p>Check to add tasks</p>
          <% @suggestions %>
            <%= simple_form_for @task, url: ai_task_path(@event), method: :post do |f| %>
              <%= f.input :title,
                          as: :check_boxes,
                          collection:[@suggestions[0],@suggestions[1],@suggestions[2],@suggestions[3],@suggestions[4],@suggestions[5]]
                          # input_html: { id: "task-title-input", data: { assign_tasks_target: "titleInput" }
              %>
              <%= f.button :submit,
                            # data-action="click->assign-tasks#setTaskTitle",
                            class: "btn btn-gradient-oval" %>
            <% end %>
          </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>












<%#
<div data-controller="assign-tasks">
<%# Modal Page 1 %>
  <%# <div class="modal fade" id="aiSuggestModal" tabindex="-1" aria-labelledby="aiSuggestLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="aiSuggestLabel">Here're AI Suggestion Tasks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
          <p>Click "Add" to add suggested tasks to the tasklist</p>
            <ol>
              <% @suggestions.each do |suggestion| %>
                <%# <li>
                  <div class="row">
                    <div class="col-10">
                      <%= suggestion %>
                    <%# </div>
                    <div class="col-2">
                      <button type="button"
                              class="btn btn-outline-primary btn-sm"
                              data-task="<%= suggestion %>"
                              <%# data-action="click->assign-tasks#setTaskTitle"
                              data-bs-dismiss="modal"
                              data-bs-toggle="modal"
                              data-bs-target="#addAiSuggestModal">
                        Add
                      </button>
                    </div>
                  </div>
                </li>
              <% end %>
            <%# </ol>
          </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div> %>

<%# Modal Page 2 %>
  <%# <div class="modal fade" id="addAiSuggestModal" tabindex="-1" aria-labelledby="addAiSuggestLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAiSuggestLabel">Add this task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <% organization_users = @users.select { |user| user.organizations.include?(@event.organization)}%>
              <%# <%= simple_form_for @task, url: event_tasks_path(@event, @task), method: :post do |f| %>
                <%# <%= f.input :title,
                    input_html: { id: "task-title-input", data: { assign_tasks_target: "titleInput" }} %>
                <%# <%= f.input :user_id,
                  collection: organization_users.map { |user| ["#{user.first_name} #{user.last_name}", user.id] } %>
                <%# <%= f.input :comment, input_html: { value: nil } %>
                <%# <%= f.button :submit, class: "btn btn-gradient-oval" %>
              <%# <% end %>
          <%# </div> %>
        <%# <div class="modal-footer">
          <button class="btn btn-primary"
                  data-bs-dismiss="modal"
                  data-bs-toggle="modal"
                  data-bs-target="#aiSuggestModal">
            Back to AI suggestion tasks
          </button>
        </div>
      </div>
    </div>
  </div>
</div> %>
