<div class="container">
  <h1>Preview Event Plan</h1>
  <h2><%= @event.title %></h2>
  <p><strong>Date: </strong><%= @event.date %></p>
  <p><strong>Duration: </strong><%= @event.duration %> minutes</p>

  <h3>Here are the activity suggestions</h3>
  <% if @generated_activities.present? %>
    <form action="<%= save_event_plan_event_path(@event) %>" method="post">
      <%= hidden_field_tag :event_id, @event.id %>

      <% @generated_activities.each do |activities_event| %>
        <% activity = activities_event.activity %>
        <div class="card mb-3 activity-preview">
          <div class="card-body">
            <h4 class="card-title"><%= activity.title %></h4>
            <% description_parts = activity.description.split("\n\n") %>
            <% main_description = description_parts[0].sub(/\*\*Description\*\*:\s*/, '') %>
            <% instructions = description_parts[1].to_s.sub(/\*\*Step-by-Step Instructions\*\*:\s*/, '') %>
            <% materials = description_parts[2].to_s.sub(/\*\*Materials\*\*:\s*/, '') %>
            <p><%= main_description %></p>
            <% instructions.split("\n").each do |step| %>
              <p><%= step %></p>
            <% end %>
            <p><strong>Materials:</strong> <%= materials %></p>
            <p><strong>Genres:</strong> <%= activity.genres.join(', ') %></p>
            <p><strong>Age Range:</strong> <%= activity.age %></p>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="selected_activities_ids[]" value="<%= activity.id %>" id="activity_<%= activity.id %>">
              <label class="form-check-label" for="activity_<%= activity.id %>">Select this activity</label>
            </div>
          </div>
        </div>
      <% end %>

      <%= submit_tag 'Save Event Plan', class: 'btn btn-primary' %>
      </form>
      <%= form_for @event, url: regenerate_activities_event_path(@event), method: :post do |f| %>
      <h3>Select activities to keep:</h3>

      <% @event.activities.each do |activity| %>
        <div class="form-check">
          <%= check_box_tag "selected_activity_ids[]", activity.id, false, id: "activity_#{activity.id}" %>
          <%= label_tag "selected_activity_ids_#{activity.id}", activity.title %>
        </div>
      <% end %>
      <%= f.submit "Regenerate Activities", class: 'btn btn-secondary' %>
    <% end %>
  <% else %>
    <p>No activities were generated. Please try again.</p>
  <% end %>
  <%= link_to 'Discard Event Plan', new_event_path, class: 'btn btn-secondary' %>
</div>
