<div class="container">
  <h1>Preview Event Plan</h1>
  <h2><%= @event.title %></h2>
  <p><strong>Date: </strong><%= @event.date %></p>
  <p><strong>Duration: </strong><%= @event.duration %> minutes</p>

  <h3>Here are the activity suggestions</h3>
  <% if @generated_activities.present? %>
  <%# save_event_plan_event_path %>
    <%= form_with url: save_event_plan_event_path(@event), method: :get, html: { class: "preview-activities-form" } do %>
      <%= hidden_field_tag :event_id, @event.id %>
      <%= hidden_field_tag :commit_action, "" %>

      <% @generated_activities.each_with_index do |activity, index| %>
        <%= render "activities", activity: activity, index: index, regenerated: "false", selected: true %>
      <% end %>

      <%= button_tag 'Save Event Plan', type: 'submit', class: 'btn btn-primary', onclick: "document.querySelector('.preview-activities-form').action='#{save_event_plan_event_path(@event)}';
      document.querySelector('.preview-activities-form').method='post';
      return true;" %>
      <%= button_tag 'Regenerate Activities', type: 'submit', class: 'btn btn-secondary', onclick: "document.querySelector('.preview-activities-form').action = '#{regenerated_activities_event_path(@event)}'" %>
      <%# regenerate_activities_event_path(@event) %>
    <% end %>
  <% else %>
    <p>No activities were generated. Please try again.</p>
  <% end %>
  <div class="card mb-3 activity-preview">
    <div class="card-body">
      <% @generated_activities.each do |activity| %>
        <% activity_tasks = @suggestions[activity.title]&.flatten || []%>
        <strong><%= activity.title %>:</strong>
        <% activity_tasks.each do|activity_task| %>
          <li><%= activity_task %></li>
        <% end %>
      <% end %>

      <% general_tasks = @suggestions['General tasks']&.flatten || [] %>
      <strong>General tasks: </strong>
      <% general_tasks.each do |general_task| %>
        <li><%= general_task %></li>
      <% end %>

      <% Rails.logger.info "AI Suggestions: #{@suggestions}"%>

    </div>
  </div>
    <%= hidden_field_tag "suggestions", @suggestions %>
    <%= hidden_field_tag "event_id", @event.id %>
    <%= submit_tag 'Save Event Plan', class: 'btn btn-primary' %>
</form>
  <%= link_to 'Discard Event Plan', new_event_path, class: 'btn btn-secondary' %>
</div>
