<div class="container">
  <div class="head">
    <div class="title d-flex justify-content-between mt-4">
      <div>
        <h1><%=@event&.title%></h1>
        <p> <strong>Organization : </strong><%= @event&.organization&.name %></p>
        <p><strong>Date: </strong><%= @event&.date %></p>
        <p><strong>Duration: </strong><%= @event&.duration %> minutes</p>
      </div>

      <div class="d-flex head-right-side">

        <%# wner %>
        <div class="col-4 text-center">
          <p><strong>Owner:</strong></p>
            <div class="d-flex flex-column text-center justify-content-center">
              <div>
                <% user = @event.user %>
                <%= image_tag (user&.photo.attached? ? user.photo : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
              </div>
              <div class="text-center">
                <p><small><%= "#{user&.first_name}"%></small></p>
              </div>
            </div>
        </div>

        <%# collabolator avatar %>
        <div class="d-flex col-6">
          <div>
            <div>
              <p><strong>Collaborators:</strong></p>
            </div>
            <div class="d-flex">
            <% if @collaborators.any? %>
              <% @collaborators.each do |collaborator| %>
                <div class="d-flex flex-column text-center justify-content-center">
                  <div>
                    <% user = @users.find_by_id(collaborator.user_id) %>
                    <%= image_tag (user&.photo.attached? ? user.photo : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
                  </div>
                  <div class="text-center">
                    <p><small><%= "#{user&.first_name}"%></small></p>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p> No collaborators
            <% end %>
            </div>
          </div>
        </div>

        <%# edit %>
        <div class="col-2">
          <%= link_to edit_event_path(@event) do %>
            <i class="fa-solid fa-pen-to-square edit-icon"></i>
          <% end %>
        </div>

      </div>

    </div>
  </div>

<%# Activities %>
  <div class="activity-container row my-3">
    <h2>Activities:</h2>
    <% if  @event.activities_events.any?  %>
      <% @event.activities_events.each do |activity_event| %>
        <div class="col-3">

          <div class="card-pink">
            <div class="card-overview">
              <p class="text-center"><strong><%= activity_event.display_title.capitalize %></strong></p>
                <div class="icon-container d-flex justify-content-between px-2">
                  <%# Details button %>
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-gradient-oval p-2" data-bs-toggle="modal" data-bs-target="#activityModal-<%= activity_event.id %>">See details</button>
                  </div>
                  <%= render "activity_details", event: @event, activity_event: @activities_events.find_by_id(activity_event.id) %>
                  <%# Delete Activity %>
                  <div class="col-6 text-center">
                    <%= link_to delete_activity_path(event_id: @event, id: activity_event),class: "no-underline", data: { turbo_method: :delete } do %>
                      <i class="fa-solid fa-trash-can icon-red"></i>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>

        </div>
        <% end %>
      <% end %>
    </div>

  <%# Tasks %>
  <div class="task-container row my-3">
    <h2>Tasks:</h2>
    <% if @event.tasks.any? %>
      <% @event.tasks.where.not(title: nil).order(created_at: :desc).each do |task| %>
        <div class="col-3">
          <div class="card-mint d-flex flex-column justify-content-between align-items-center" data-controller="assign-tasks">
            <div>
              <p class="text-center"><%=task.title.capitalize%></p>
            </div>
            <div class="icon-container d-flex justify-content-between px-2 w-75">
            <%# Avatar %>
              <div class="d-flex flex-column text-center justify-content-center">
                <div>
                  <% user_id = task.tasks_users.first&.user_id %>
                  <% user = @users.find_by(id: user_id) %>
                  <%= image_tag (user&.avatar_url.presence ? user.avatar_url : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
                </div>
                <div>
                  <% user_id = task.tasks_users.first&.user_id %>
                  <% user = @users.find_by(id: user_id) %>
                  <p class="mb-0"><small><%=user&.first_name%></small></p>
                </div>
              </div>
              <%# Complete/ Incomplete %>
              <div data-controller="assign-tasks", data-assign-tasks-task-id-value= "<%= task.id %>">

                <button data-action="click->assign-tasks#toggleComplete" class="btn btn-link" >
                  <% if task.completed %>
                    <i class="fa-solid fa-circle-check icon-complete" data-assign-tasks-target = "completeIcon"></i>
                  <% else %>
                    <i class="fa-solid fa-circle-check icon-not-complete" data-assign-tasks-target = "completeIcon"></i>
                  <% end %>
                </button>
              </div>
              <%# Delete Task %>
              <%= link_to event_task_path(task.event, task), data: {turbo_method: :delete, turbo_confirm: "Delete this task?"} do %>
                <i class="fa-solid fa-trash-can icon-red"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>
      <p>No tasks</p>
    <% end %>

      <%# Create a new task%>
      <div class="my-3">
        <button type="button" class="btn btn-gradient-oval p-2" data-bs-toggle="modal" data-bs-target="#taskModal">Add a task</button>
        <button type="button" class="btn btn-gradient-oval p-2" data-bs-toggle="modal" data-bs-target="#aiSuggestModal" >AI suggetions</button>
      </div>
      <div>
        <%= render "create_tasks", event: @event, task: @task %>
        <%= render "suggest_tasks", event: @event, task: @task %>
      </div>
    </div>

  </div>
