<div class="container">
  <div class="head">
    <div class="title d-flex justify-content-between mt-4">
      <div>
        <h1>Event Title : <%=@event.title%></h1>
        <p> <strong>Organization : </strong><%= @event.organization.name %></p>
        <p><strong>Date: </strong><%= @event.date %></p>
        <p><strong>Duration: </strong><%= @event.duration %> minutes</p>
      </div>
      <%# collabolator avatar %>
      <div>
        <p>Collabolator:</p>
        <div class="d-flex">
          <% if @event.collaborators.any? %>
            <% @event.collaborators.each do |collaborator| %>
              <%= image_tag (collabolator&.photo.attached? ? collabolator.photo : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
              <p><small><%= "#{collaborator&.user&.first_name}"%></small></p>
            <% end %>
          <% else %>
            <p> No collaborators
          <% end %>
          <%# <% @users.each do |user| %> %>
          <%# <div class="d-flex flex-column text-center mx-2"> %>
            <%# <%= image_tag (user&.photo.attached? ? user.photo : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %> %>
            <%# <p><small><%="#{user.first_name}"%></small></p> %>
          <%# </div> %>
          <%# <% end %> %>
        </div>
      </div>

      <%# edit %>
      <div class="p-3">
        <%= link_to edit_event_path(@event) do %>
          <i class="fa-solid fa-pen-to-square edit-icon"></i>
        <% end %>
      </div>

    </div>
  </div>

<%# Activities %>
  <div class="activity-container row my-3">
    <h2>Activities:</h2>
    <% if  @event.activities.any?  %>
      <% @event.activities.each do |activity| %>
        <div class="col-3" data-controller="assign-tasks" data-assign-task-target="column">
          <div class="card-pink">

            <%# overview %>
            <div class="card-overview text-center">
              <p><strong><%= activity.title.capitalize %></strong></p>
              <% description_summary = activity.description.split("\n").first.gsub(/\*\*Description\*\*[:\s]*/, '').strip %>

              <div class="row">
                <div class="col-6 d-flex flex-column text-center justify-content-center">
                  <div>
                    <%# NEED TO CHANGE TO LEADER %>
                    <%= image_tag ("https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
                  </div>
                  <div>
                    <p><small>Leader:</small><p>
                  </div>
                </div>

                <%# details button %>
                <div class="col-6 text-center">
                  <button class="btn btn-gray-text" data-action="click->assign-tasks#showDetails">See details</button>
                  <%# data-action="click->assign-tasks#strech" %>
                </div>
              </div>
            </div>

            <%# details %>
            <div class="d-none" data-assign-tasks-target = "details">
              <p><strong>Description:</strong><p>
              <p><%= activity.description %></p>

              <%# Step-by-Step Instructions %>
              <% if activity.description.include?("**Step-by-Step Instructions**") %>
                <h5>Step-by-Step Instructions:</h5>
                <ul>
                  <% activity.description.scan(/\d+\.\s(.+)/).each do |step| %>
                    <li><%= step.first %></li>
                  <% end %>
                </ul>
              <% end %>

              <%# Materials %>
              <% if activity.description.include?("**Materials**") %>
                <h5>Materials:</h5>
                <ul>
                  <% activity.description.scan(/\*\*Materials\*\*: (.+)/).each do |material| %>
                    <% material.first.split(', ').each do |item| %>
                      <li><%= item.strip %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>

              <%# Additional Info %>
              <p><strong>Age Group:</strong> <%= activity.age %> years old</p>
              <p><strong>Genres:</strong> <%= activity.genres.join(", ") %></p>

            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  <%# Tasks %>
  <div class="task-contaiiner row my-3">
    <h2>Tasks:</h2>
    <% if @event.tasks.any? %>
      <% @event.tasks.where.not(title: nil).order(created_at: :desc).each do |task| %>
        <div class="col-3">
          <div class="card-mint" data-controller="assign-tasks">
            <p><%=task.title.capitalize%></p>

            <%# icons %>
            <div class="icon-container d-flex">
            <%# <div class="row" > %>

              <div class="col-3 d-flex flex-column text-center justify-content-center">
                <div>
                  <% user_id = task.tasks_users.first&.user_id %>
                  <% user = @users.find_by(id: user_id) %>
                  <%= image_tag (user&.avatar_url.presence ? user.avatar_url : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
                </div>
                <div>
                  <% user_id = task.tasks_users.first&.user_id %>
                  <% user = @users.find_by(id: user_id) %>
                  <p><small><%=user&.first_name%></small></p>
              </div>
            </div>

              <div class="col-3 text-center justify-content-center">
                <% if task.completed %>
                  <i class="fa-solid fa-circle-check icon-complete"></i>
                <% else %>
                  <i class="fa-solid fa-hammer icon-small"></i>
                <% end %>
              </div>

              <div class="col-3 text-center justify-content-center">
                <button class="btn" data-bs-toggle="modal" data-bs-target="#taskEditModal" data-action="click->assign-tasks#assign">
                  <i class="fa-solid fa-pen-to-square icon-small"></i>
                </button>
                <%= render "edit_tasks", event: @event, task: task %>
              </div>

              <div class="col-3 text-center justify-content-center">
                <%= link_to event_task_path(task.event, task), data: {turbo_method: :delete, turbo_confirm: "Delete this task?"} do %>
                  <i class="fa-solid fa-trash-can icon-small"></i>
                <% end %>
              </div>
            </div>
          </div>

          </div>
        <% end %>
      <% end %>
      </div>

      <%# create a new task%>
      <div class="my-3">
        <button type="button" class="btn btn-gradient-oval p-2" data-bs-toggle="modal" data-bs-target="#taskModal">Add a task</button>
        <button type="button" class="btn btn-gradient-oval p-2" data-bs-toggle="modal" data-bs-target="#aiSuggestModal" >AI suggetions</button>
      </div>
      <div>
        <%= render "create_tasks", event: @event, task: @task %>
        <%= render "suggest_tasks", event: @event, task: @task %>
      </div>
    </div>

  </div>
