<% @chats.each do |chat| %>
  <%= link_to chat_path(chat),
    data: {
      turbo_frame: :messages,
      controller: "chats--select-chat",
      action: "click->chats--select-chat#select",
      updated: chat.updated_at.to_s,
      chat_id: chat.id
    },
    class: "chat-link text-decoration-none" do %>

      <div class="chat-card p-2" data-chats--select-chat-target="chatCard">
        <p><%= chat.event.title %></p>
        <p class="d-flex gap-2 w-100 px-3">
          <span class="last-message-text last-message-sender text-secondary fw-bold"><%= chat&.messages&.last&.user&.first_name %> <%= chat&.messages&.last&.user&.last_name %> said: </span>
          <em class="last-message-text last-message text-secondary"><%= chat&.messages&.last.message %></em>
        </p>
      </div>
  <% end %>
<% end %>
